* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f1f1;
}

header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 1.2em;
  width: 100%;
  max-width: 400px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #fff;
  color: #f44336;
  transform: scale(1.1);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#results {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.movie {
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(0);
}

.movie:hover {
  transform: translateY(-5px);
}

.poster {
  overflow: hidden;
}

.poster img {
  transition: transform 0.3s ease;
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie:hover .details {
  opacity: 1;
}

.details h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #f44336;
}

.details p {
  font-size: 1em;
  margin-bottom: 5px;
}

.details p.plot {
  margin-bottom: 20px;
}
footer {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #333;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
  form {
    max-width: 100%;
    padding: 0 20px;
  }
}
